@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            //.configureLogging(signalR.LogLevel.Debug)

            var connection = new signalR.HubConnectionBuilder().withAutomaticReconnect([1000, 3000, 3000, 2000]).withUrl("https://localhost:5001/MyHub").build();

            function statusShow() {
                $("#conStatus").text(connection.state);
            }

            function start() {
                connection.start().then(() => {
                    $('#loading').hide();
                    statusShow();
                }).catch((err) => { 
                    console.log(err); 
                    setTimeout(() => start(), 2000) 
                });
            }

            statusShow();
            start();

            connection.onreconnecting(err => {
                $('#loading').show();
                statusShow();
                console.log("onreconnection " + err);
            })

            connection.onreconnected(connectionId => {
                $('#loading').hide();
                statusShow();
                console.log("connectionId: " + connectionId);
            });

            connection.onclose(connectionId => {
                $('#loading').hide();
                statusShow();
                start();
            });

            //Clicks
            $("#btnSave").click(() => {
                connection.invoke("SendMessage", $("#txtMsg").val()).catch((err) => console.log(err));
            });

            //onMethods
            connection.on("RecieveMessage", (message) => {
                $("#messageList").append(`<li class="list-group-item"> ${message} </li>`)
            });
        });
    </script>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtMsg" />
        <hr />
        <button class="btn btn-primary" id="btnSave">Mesaj Kaydet</button>
        <div class="alert alert-info">
            <div class="float-start">
                Bağlantı durumu: <strong id="conStatus"></strong>
            </div>
            <div class="float-end">
                <div id="loading" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-md-8 offset-2">
        <ul class="list-group" id="messageList"></ul>
    </div>
</div>